.button__wrapper {
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  gap: 10px;
}
.align__title {
  text-align: center;
}
.menu__wrapper {
  top: 50%;
  position: relative;
}
