<div class="dashboard__wrapper">
  <div class="dashboard__contents">
    <div><div class="common__adjustment posts"><mat-icon aria-label="Example home icon">question_answer</mat-icon> {{inputData?.posts}} </div><div class="common__styling__title">posts</div></div>
    <div><div class="common__adjustment users"><mat-icon aria-label="Example home icon">person_outline</mat-icon>{{inputData?.users}} </div><div class="common__styling__title">users</div></div>
    <div><div class="common__adjustment engagement"><mat-icon aria-label="Example home icon">favorite_border</mat-icon>{{inputData?.engagement}} </div><div class="common__styling__title">engagement</div></div>
    <div><div class="common__adjustment reach"><mat-icon aria-label="Example home icon">campaign</mat-icon>{{inputData?.reach}} </div><div class="common__styling__title">reach</div></div>
    <div><div class="common__adjustment impressions"> <mat-icon aria-label="Example home icon">mic_none</mat-icon>{{inputData?.impressions}} </div><div class="common__styling__title">impressions</div></div>
  </div>
  {{inputText}}
</div>
