.full-width{
  width: 100%;
}

.top-padding{
  padding-top: 3px;
}

.margin-left mat-radio-button:not(:first-child){
  margin-left:10px;
}

.form-container{
  margin: 100px;
  padding-left: 26vw;
  padding-right: 20vw;
}
.mat-card-header {
  justify-content: center;
}
.form__wrapper {
  display: flex;
  justify-content: center;
}
.mat-card {
  width: 450px;
}
.mat-card-actions {
  display: flex;
  justify-content: space-between;
}
